{{ if .setupMailCalendarContacts -}}
# Global
CopyArrivalDate yes
Create Both
Sync All
SyncState *

IMAPAccount fastmail
Host imap.fastmail.com
Port 993
User {{ (onepasswordDetailsFields "fpbrakjsxo5ry3ubnhayv7xzka").username.value }}
Pass {{ (onepasswordItemFields "fpbrakjsxo5ry3ubnhayv7xzka").mail_password.value }}
SSLVersion TLSv1.2
SSLType IMAPS
AuthMechs LOGIN

IMAPStore fastmail-remote
Account fastmail

MaildirStore fastmail-local
Path ~/.local/share/mail/fastmail/
Inbox ~/.local/share/mail/fastmail/INBOX
SubFolders Verbatim

Channel fastmail-inbox
Far :fastmail-remote:
Near :fastmail-local:
Patterns INBOX
Expunge Both

Channel fastmail-rest
Far :fastmail-remote:
Near :fastmail-local:
Patterns * !INBOX
Expunge Both

IMAPAccount lth
Host imap.lu.se
Port 993
User {{ (onepasswordDetailsFields "tu2huwrewbdlbcqf6ldwjiojoi").username.value }}
Pass {{ (onepasswordDetailsFields "tu2huwrewbdlbcqf6ldwjiojoi").password.value }}
SSLType IMAPS
PipelineDepth 1

IMAPStore lth-remote
Account lth

MaildirStore lth-local
Path ~/.local/share/mail/lth/
Inbox ~/.local/share/mail/lth/INBOX
SubFolders Verbatim

Channel lth-inbox
Far :lth-remote:
Near :lth-local:
Patterns INBOX
Expunge Both

Channel lth-rest
Far :lth-remote:
Near :lth-local:
Patterns * !INBOX
Expunge Both

Group all
Channel fastmail-inbox
Channel fastmail-rest
Channel lth-inbox
Channel lth-rest

Group fastmail-all
Channel fastmail-inbox
Channel fastmail-rest

Group lth-all
Channel lth-inbox
Channel lth-rest

Group inbox
Channel lth-inbox
Channel fastmail-inbox

Group rest
Channel lth-rest
Channel fastmail-rest
{{- end }}
