[gdrive]
type = drive
client_id = {{ onepasswordRead "op://rejc2pnsh5lf56x6wsxegmydoy/hxdletilxnwlmhjatzpcc2kl6m/chezmoi_gdrive_oauth/client_id" }}
client_secret = {{ onepasswordRead "op://rejc2pnsh5lf56x6wsxegmydoy/hxdletilxnwlmhjatzpcc2kl6m/chezmoi_gdrive_oauth/client_secret" }}
scope = drive
service_account_file = ${RCLONE_CONFIG_DIR}/gdrive_sa.json
impersonate = an6802jo@ulund.org

# Local Variables:
# mode: conf
# End:
