{
  "host": "imap.lu.se",
  "port": 993,
  "tls": true,
  "username": "{{ (onepasswordDetailsFields "tu2huwrewbdlbcqf6ldwjiojoi").username.value }}",
  "password": "{{ (onepasswordDetailsFields "tu2huwrewbdlbcqf6ldwjiojoi").password.value }}",
  "xoauth2": false,
  "onNewMail": "{{ expandenv "$HOME/bin/sync-emails.sh" }} lth-inbox",
  "boxes": [
    "INBOX"
  ]
}
