{{ if .workstation -}}
#!/bin/sh

# Run if emacs files changed
{{- range (expandenv "$DOOMDIR/*.el" | glob) }}
# {{ . }}: {{ include . | sha256sum }}
{{- end }}

{{ expandenv "$XDG_CONFIG_HOME/bin/doom" }} sync
{{- end }}
