{{ if lookPath "zsh" -}}
#!{{ .usrPrefix }}/bin/zsh

{{ $completionsDir := expandenv "$XDG_CONFIG_HOME/zsh/completions" }}

chezmoi completion zsh --output={{ $completionsDir }}/_chezmoi

(( $+commands[poetry] )) && poetry completions zsh > {{ $completionsDir }}/_poetry
(( $+commands[op] )) && op completion zsh > {{ $completionsDir }}/_op

exit 0
{{ end }}
