#!/bin/sh

{{- if has .chezmoi.hostname .dev_hosts }}
systemctl --user daemon-reload

RCLONE_REMOTE_NAME="gdrive:"

if rclone listremotes | grep $RCLONE_REMOTE_NAME >/dev/null ; then

  mkdir -p $HOME/gdrive
  systemctl --user enable --now rclone@gdrive.service

fi

systemctl --user enable --now git-sync-org.timer
systemctl --user enable --now emacs.service

{{- end }}
