#!/bin/sh

# Run if emacs files changed
{{- range (joinPath .chezmoi.sourceDir "doomdir_src/*" | glob) }}
# {{ . }}: {{ include . | sha256sum }}
{{- end }}

DOOM_INSTALL_DIR=$HOME/.config/emacsconf/doom-emacs

"$DOOM_INSTALL_DIR/bin/doom" sync
