#!/usr/bin/sh

cd $(chezmoi source-path)

git config --local commit.gpgsign false
git config --local core.sshCommand \
    "ssh -o 'IdentitiesOnly=yes' -i ~/.ssh/\x2elocal-share-chezmoi_rsa"

git config --local --bool branch.main.sync true
git config --local --bool branch.main.syncNewFiles true

{{ if .workstation }}
command -v pre-commit >/dev/null && pre-commit install
{{ end}}
