{{ if lookPath "update-desktop-database" }}
#!{{ .usrPrefix }}/bin/sh

{{ $xdgDataHome := default (expandenv "$HOME/.local/share") (env "XDG_DATA_HOME") }}
{{ $applicationsDir := print $xdgDataHome "/applications"}}

{{- range (joinPath $applicationsDir "/*.desktop" | glob) }}
# {{ . }}: {{ include . | sha256sum }}
{{- end }}

update-desktop-database {{ $applicationsDir }}
