#!/bin/sh

{{ $applicationsDir := expandenv "$XDG_DATA_HOME/applications" }}

{{- range (joinPath $applicationsDir "/*.desktop" | glob) }}
# {{ . }}: {{ include . | sha256sum }}
{{- end }}

update-desktop-database {{ $applicationsDir }}
