#!{{ .usrPrefix }}/bin/sh

# Run upgrade once a week
# Weeks since epoch: {{ div (now | unixEpoch) 604800 }}

TPM_PLUGIN_UPGRADE_SCRIPT={{ expandenv "$XDG_CONFIG_HOME/tmux/plugins/tpm/bin/update_plugins" }}

[ -e "$TPM_PLUGIN_UPGRADE_SCRIPT" ] && "$TPM_PLUGIN_UPGRADE_SCRIPT" all

ZIM_SCRIPT={{ expandenv "$XDG_DATA_HOME/zsh/zim/zimfw.zsh" }}

if [ -e "$ZIM_SCRIPT" ] ; then
    zsh -c ". $ZIM_SCRIPT update -v"
fi
