#!/bin/sh

# runs only if master commit is changed
# git hash for doom: {{ expandenv "$HOME/.config/emacsconf/doom-emacs/.git/refs/heads/master" | include}}

DOOM_INSTALL_DIR=$HOME/.config/emacsconf/doom-emacs

cd $DOOM_INSTALL_DIR

if [ $(git symbolic-ref --short HEAD) != "master" ] ; then
  echo "Not on branch master, exiting."
  exit 1
fi

$DOOM_INSTALL_DIR/bin/doom sync
