{{ if eq .chezmoi.os "android" -}}
#!{{ .usrPrefix }}/bin/sh
set -x

# Ensure that cronie and rclone are installed.
pkg install termux-services cronie rclone

sv-enable crond
sv-enable emacsd

# Ensure the device doesn't sleep during the setup
termux-wake-lock

{{- $RCLONE := print .usrPrefix "/bin/rclone" }}
{{- $remoteTopDir := "nextcloud:Apps/" }}
{{- $localTopDir := expandenv "$HOME/Nextcloud/Apps/" }}

{{- $dirs := dict
     "org" "org"
     "org-attach" "org-attach"
     "editor-backups/vim/localhost" "editor-backups/vim/luna-termux"
     "editor-backups/emacs/localhost" "editor-backups/emacs/luna-termux"  }}
{{- range $local, $remote := $dirs }}

{{- $localPath := print $localTopDir $local }}
{{- $remotePath := print $remoteTopDir $remote }}

# Ensure the local folder exists
mkdir -p {{ $localPath }}

# Create the remote directory if it doesn't exist
{{ $RCLONE }} mkdir {{ $remotePath }}

# Set up the crontab for syncing using rclone
# First, make sure the existing crontab doesn't have our rclone job for this directory

{{- $cronInterval := "*/10 * * * *" }}
{{- $cronJob := print $RCLONE " bisync " $remotePath " " $localPath }}
if ! (crontab -l | grep -q '{{ $cronJob }}'); then
    (crontab -l; echo '{{ print $cronInterval " " $cronJob }}') | crontab -
fi

{{- end }}

# Some setup for termux share

pip install requests beautifulsoup4
xdg-mime default org-protocol.desktop x-scheme-handler/org-protocol

termux-wake-unlock

{{- end }}
