{{ if eq .chezmoi.os "android" -}}
#!{{ .usrPrefix }}/bin/sh
set -e

# Ensure the device doesn't sleep during the setup
termux-wake-lock

# Ensure that cronie and rclone are installed.
pkg install termux-api termux-services cronie rclone moreutils

sv-enable crond
sv-enable emacsd

{{ $scriptFile := expandenv "$HOME/bin/termux_crontab_rclone_bisync_nextcloud_apps.sh" }}

{{- $cronInterval := "*/10 * * * *" }}
{{/* pipe stderr to where stdout is piped, but then pipe stdout to /dev/null*/}}
{{- $cronJob := print $scriptFile " 2>&1 >/dev/null | ifne termux-notification -t crontab" }}

# pipe current crontab (minus any lines referencing the script file) + crontab line into crontab
echo $(crontab -l | grep -v '{{ $scriptFile }}') '{{ print "\n" $cronInterval " " $cronJob }}' | crontab -

# Some setup for termux share

pip install requests beautifulsoup4
xdg-mime default org-protocol.desktop x-scheme-handler/org-protocol

termux-wake-unlock

{{- end }}
