{{ if .workstation -}}
#!/bin/zsh

labels=("LTH account" "fastmail dav" "fastmail mail" "nextcloud rss")
keys_vals=("org LTH provider exchange2016 service email user an6802jo@lu.se"   \
           "org privat provider fastmail service dav user tetov@fastmail.com"  \
           "org privat provider fastmail service mail user tetov@fastmail.com" \
           "org privat provider nextcloud service rss user tetov")

MISSING=0

for i in {1..$#labels}
do
    # ${=array} is used to split words
    if ! secret-tool lookup ${=keys_vals[i]} >/dev/null ; then
        MISSING=1
        echo "Missing secret for $labels[i]"
        echo "Run: secret-tool store --label \""$labels[i]"\" ${=keys_vals[i]}"
    fi
done

exit $MISSING

{{- end }}
