{{ if and (env "DOOMDIR") (stat (expandenv "$DOOMDIR")) -}}
#!{{ .usrPrefix }}/bin/sh

# Run if emacs files changed
{{- range (expandenv "$DOOMDIR/*.el" | glob) }}
# {{ . }}: {{ include . | sha256sum }}
{{- end }}

{{ expandenv "$XDG_CONFIG_HOME/emacs/bin/doom" }} sync

emacsclient --eval '(nerd-icons-install-fonts t)' --alternate-editor=
# compiles emacsql-sqlite if necessary
emacsclient --eval '(org-roam-db-sync)' --alternate-editor=
emacsclient --eval '(pdf-tools-install t)' --alternate-editor=
{{- end }}
