#!/usr/bin/sh

# {{ $fisher_path := expandenv "$HOME/.cache/fisher.fish" }}
# fisher.fish hash: {{ include $fisher_path | sha256sum }}

# Run upgrade once a week
# Weeks since epoch: {{ div (now | unixEpoch) 604800 }}

if command -v fish > /dev/null ; then
    fish -c "source {{ $fisher_path }} && fisher update"
fi
