{{ if has .chezmoi.hostname .dev_hosts -}}
#!/bin/zsh

labels=("Protonmail bridge servers" "LTH account" "fastmail carddav")
keys_vals=("protonmail_user anton@tetov.se" \
           "org LTH provider exchange2016 service email user an6802jo@lu.se" \
           "org privat provider fastmail service carddav user tetov@fastmail.com")

MISSING=0

for i in {1..$#labels}
do
    # ${=array} is used to split words
    if ! secret-tool lookup ${=keys_vals[i]} >/dev/null ; then
        MISSING=1
        echo "Missing secret for $labels[i]"
        echo "Run: secret-tool store --label \""$labels[i]"\" ${=keys_vals[i]}"
    fi
done

exit $MISSING

{{- end }}
