#!/bin/sh

# runs if master commit is changed
# git hash for doom: {{ expandenv "$HOME/.config/emacsconf/doom-emacs/.git/refs/heads/master" | include}}

# Run upgrade once a week
# Weeks since epoch: {{ div (now | unixEpoch) 604800 }}

# Run if emacs files changed
{{- range (joinPath .chezmoi.sourceDir "private_dot_config/emacsconf/doomdir/*.el" | glob) }}
# {{ . }}: {{ include . | sha256sum }}
{{- end }}

DOOM_INSTALL_DIR=$HOME/.config/emacsconf/doom-emacs

"$DOOM_INSTALL_DIR/bin/doom" upgrade
