#!/usr/bin/sh

# ~/.cache/fisher.fish hash: {{ include "~/.cache/fisher.fish" | sha256sum }}

# Run upgrade once a week
# Weeks since epoch: {{ div (now | unixEpoch) 604800 }}

. "${XDG_CONFIG_HOME:-$HOME/.config}"/tetov/.config/environment.d/*.conf

if command -v fish > /dev/null ; then
    fish -c "source $XDG_CACHE_HOME/fisher.fish && fisher update"
fi
