#!/usr/bin/sh
{{ if .workstation -}}
ORG_DIR="$HOME/src/org"

[ -d "$ORG_DIR/.git" ] || git clone git@github.com:tetov/org "$ORG_DIR"

cd "$ORG_DIR" || exit 1
git config --local commit.gpgsign false
git config --local core.sshCommand \
    "ssh -o 'IdentitiesOnly=yes' -i ~/.ssh/src-org_rsa"

git config --local --bool branch.main.sync true
git config --local --bool branch.main.syncNewFiles true

{{- end}}
