#!/bin/sh

mkdir -p {{ env "XDG_DATA_HOME" }}/vim/plugged
mkdir -p {{ env "XDG_DATA_HOME" }}/tmux/plugins
mkdir -p {{ env "XDG_DATA_HOME" }}/zsh/zcomet
mkdir -p {{ env "XDG_DATA_HOME" }}/mail/{lth,fastmail}
chmod 700 {{ env "XDG_DATA_HOME" }}/share/mail
