{{ $setupMailCalendarContacts := promptBoolOnce . "setupMailCalendarContacts" "Setup mail, calendar and contacts" false }}
encryption = "age"

{{ if lookPath "op" -}}
[age]
    identity = "{{ (onepasswordItemFields "4w5t35r2k5zgz3bcptichq3cxu").private_key.value }}"
    recipient = "{{ (onepasswordItemFields "4w5t35r2k5zgz3bcptichq3cxu").public_key.value }}"
{{- end }}

[git]
    autoCommit = true
    autoPush = true

[data]
    usrPrefix = "{{ default "/usr" (env "PREFIX") }}" # special on termux
    setupMailCalendarContacts = {{ $setupMailCalendarContacts }}
