encryption = "age"

[age]
	identity = "key.txt"
	recipient = "age1j04sg30dcpwrsg42gns2pl2992lu3dzs3enyy9h6xxecm30hxd6q4nkrjv"

[git]
    autoCommit = true
    autoPush = true

[data]
    workstation = false
