{{ $xdgConfigHome := default (expandenv "$HOME/.config") (env "XDG_CONFIG_HOME" ) -}}
encryption = "age"

[age]
    identity = "{{ (onepasswordItemFields "4w5t35r2k5zgz3bcptichq3cxu").private_key.value }}"
    recipient = "{{ (onepasswordItemFields "4w5t35r2k5zgz3bcptichq3cxu").public_key.value }}"

[git]
    autoCommit = true
    autoPush = true

[data]
    usrPrefix = "{{ default "/usr" (env "PREFIX") }}" # special on termux
    setupMailCalendarContacts = false
