[submodule "vendor/gpg-bridge-wsl2-ruby"]
	path = vendor/gpg-bridge-wsl2-ruby
	url = git@github.com:mhyllander/gpg-bridge-wsl2-ruby.git
[submodule "deps/gpg-bridge-wsl2-ruby"]
	path = deps/gpg-bridge-wsl2-ruby
	url = git@github.com:mhyllander/gpg-bridge-wsl2-ruby.git
