# -*- mode: sh -*-
ZSHRC_DIR=$ZDOTDIR/zshrc.d

[[ -r ~/.opam/opam-init/init.zsh ]] && . ~/.opam/opam-init/init.zsh

# history settings
HISTFILE=$XDG_STATE_HOME/zsh/history
mkdir -p $(dirname $HISTFILE)
HISTSIZE=50000
SAVEHIST=10000

setopt extended_history       # record timestamp of command in HISTFILE
setopt hist_ignore_dups       # ignore duplicated commands history list
setopt hist_ignore_space      # ignore commands that start with space
setopt hist_reduce_blanks # remove superfluous blanks from history items
setopt hist_verify            # show command with history expansion to user before running it
setopt inc_append_history     # add commands to HISTFILE in order of execution
setopt share_history          # share command history dat

setopt auto_cd # cd by typing directory name if it's not a command
setopt complete_in_word # complete where cursor is
setopt always_to_end # always put cursor at end after completing

zstyle ':completion:::::' completer _expand _complete _ignored _approximate #enable approximate matches for completion

# Syntax highlightening for less
export LESS=" -R"
if [[ -e /usr/bin/src-hilite-lesspipe.sh ]] ; then
    export LESSOPEN="| /usr/bin/src-hilite-lesspipe.sh %s"
fi

fpath+=($ZDOTDIR/{funcs,completions})

PROMPT='%(?..%F{red}%?)%f %B%F{240}%~%f%b > '  {{/* gets overwritten by pure if dev_hosts  */}}
unset RPROMPT

# ZCOMET
source $ZDOTDIR/.zcomet/bin/zcomet.zsh

{{ if .workstation -}}

zcomet load sindresorhus/pure async.zsh pure.zsh
PURE_CMD_MAX_EXEC_TIME=60
PURE_GIT_PULL=0
# Make pure theme single line
prompt_newline='%666v'
PROMPT=" $PROMPT"

# zstyle :prompt:pure:user color green
# zstyle :prompt:pure:host color green
# zstyle :prompt:pure:git:branch color white
zstyle :prompt:pure:git:stash show yes

export NVM_COMPLETION=true
export NVM_LAZY_LOAD=false
export NVM_AUTO_USE=true
export NVM_DIR="$HOME/.nvm"
zcomet load lukechilds/zsh-nvm

zcomet load agkozak/zsh-z
# zcomet load ohmyzsh plugins/gitfast
zcomet load xlshiz/gitfast-zsh-plugin
zcomet load MikeDacre/tmux-zsh-vim-titles
zcomet load zdharma-continuum/fast-syntax-highlighting

{{- end }}

zcomet load zsh-users/zsh-completions
zcomet load jeffreytse/zsh-vi-mode
zcomet snippet https://github.com/trapd00r/LS_COLORS/blob/master/lscolors.sh

zcomet compinit

for file in "$ZSHRC_DIR"/*.zsh; do
    source "$file"
done

# source ~/.zshrc if anaconda put one there
[[ -e ~/.zshrc ]] && . ~/.zshrc

# Anaconda's CA bundle gets picket up by curl
[[ -e /etc/ssl/certs/ca-certificates.crt ]] && CURL_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt
[[ -e /etc/ssl/certs/ca-bundle.crt ]] && CURL_CA_BUNDLE=/etc/ssl/certs/ca-bundle.crt

# aliases
if (( $+commands[exa] )) ; then
    alias ls="exa --group-directories-first"
    alias ll="ls -l --group --git"
else
    alias ls='ls -F --color=auto'
    alias ll='ls -lh'
fi

alias la='ls -a'
alias l='ls'

alias mkdir='mkdir -pv'
alias rmi='rm -i'

alias cp='cp -i'
alias mv='mv -i'

alias ..='cd ..'
alias _='sudo '

alias grep='grep -i --color=auto'
#
if (( $+commands[rtcontrol] )) ; then
    alias rthot="watch -n30 'rtcontrol -rs up,down,name xfer=+0 2>&1'"
    alias rtmsg="rtcontrol -s alias,message,name 'message=?*' 'message=!*Tried?all?trackers*'"
    alias rtmsgstats="rtcontrol -q -s alias,message -o alias,message 'message=?*' 'message=!*Tried?all?trackers*' | uniq -c"
    alias rt2days="rtcontrol --column-headers -scompleted -ocompletion completed=-2d"
    alias rtstats="rtcontrol -q -o alias -s alias \\* | uniq -c"
    alias rti="rtcontrol is_complete=no"
    alias rttrump='rtcontrol -s alias,message,name message="*nregistered*"'
fi

# plex
alias notlinked='find . -type f -links 1 \( \! -iname "*.jpg" \! -iname "*.nfo" \! -iname "*.png" \! -iname "*.srt" \)'

(( $+commands[rolldice] )) && alias r='rolldice -s '

if (( $+commands[git] )) ; then
    alias g='git'

    alias ga='git add'

    alias gb='git branch'

    alias gc='git commit -v'
    alias gcd='cd "$(git rev-parse --show-toplevel)"'
    alias gcmsg='git commit -m'
    alias gco='git checkout'

    alias gd='git diff'

    alias gf='git fetch'

    alias gl='git pull'

    alias gp='git push'

    alias gr='git remote'
    alias gra='git remote add'
    alias grb='git rebase'

    alias gst='git status'

fi

alias cm='chezmoi'

cmcd() {
    cd $(chezmoi source-path)
}

command -v makechrootpkg >/dev/null \
    && [[ -v CHROOT ]] \
    && alias mcpkg='makechrootpkg -cu -r $CHROOT -l $(basename $(pwd)) -- PACKAGER=$PACKAGER'

if (( $+commands[gpg] )) ; then
    alias clean_gpg_socks="rm $XDG_RUNTIME_DIR/gnupg/S.*"
    alias restart_gpg="gpg-connect-agent reloadagent /bye"
fi
