[general]
status_path = "~/.local/state/vdirsyncer/"

[pair fastmail_card_pair]
a = "fastmail_card_local"
b = "fastmail_card_remote"
collections = ["from b"]

[storage fastmail_card_local]
type = "filesystem"
path = "~/.local/share/vdirsyncer/contacts"
fileext = ".vcf"

[storage fastmail_card_remote]
type = "carddav"
url = "{{ (onepasswordItemFields "fpbrakjsxo5ry3ubnhayv7xzka").carddav_url.value }}"
username = "{{ (onepasswordDetailsFields "fpbrakjsxo5ry3ubnhayv7xzka").username.value }}"
password = "{{ (onepasswordItemFields "rjivcvjea74e77g5cgfey57kzy").fastmail_dav_password.value }}"
readonly = true

[pair fastmail_cal_pair]
a = "fastmail_cal_local"
b = "fastmail_cal_remote"
collections = ["from a", "from b"]

[storage fastmail_cal_local]
type = "filesystem"
path = "~/.local/share/vdirsyncer/calendar"
fileext = ".vcf"

[storage fastmail_cal_remote]
type = "caldav"
url = "{{ (onepasswordItemFields "fpbrakjsxo5ry3ubnhayv7xzka").caldav_url.value }}"
username = "{{ (onepasswordDetailsFields "fpbrakjsxo5ry3ubnhayv7xzka").username.value }}"
password = "{{ (onepasswordItemFields "rjivcvjea74e77g5cgfey57kzy").fastmail_dav_password.value }}"
readonly = true
