{{ if .setupMailCalendarContacts }}
defaults
tls on

account fastmail
host smtp.fastmail.com
port 465
from anton@tetov.se
tls_starttls off
auth on
user {{ (onepasswordDetailsFields "fpbrakjsxo5ry3ubnhayv7xzka").username.value }}
password {{ (onepasswordItemFields "fpbrakjsxo5ry3ubnhayv7xzka").mail_password.value }}

account lth
host smtps.lu.se
port 587
from anton_tetov.johansson@abm.lth.se
auth on
tls_starttls on
user {{ (onepasswordDetailsFields "tu2huwrewbdlbcqf6ldwjiojoi").username.value }}
password {{ (onepasswordDetailsFields "tu2huwrewbdlbcqf6ldwjiojoi").password.value }}

account default : fastmail
{{- end }}
