{{ if .setupMailCalendarContacts }}
defaults
tls on

account fastmail
host smtp.fastmail.com
port 465
from anton@tetov.se
tls_starttls off
auth on
user tetov@fastmail.com
password {{ (expandenv "$XDG_CONFIG_HOME/chezmoi/secrets.json" | include | mustFromJson).fastmail_mail.value }}

account lth
host smtps.lu.se
port 587
from anton_tetov.johansson@abm.lth.se
auth on
tls_starttls on
user an6802jo@lu.se
password {{ (expandenv "$XDG_CONFIG_HOME/chezmoi/secrets.json" | include | mustFromJson).lth_mail.value }}

account default : fastmail
{{- end }}
