[Desktop Entry]
Name=Org-Protocol
MimeType=x-scheme-handler/org-protocol
Exec=emacsclient %u
Icon=emacs
Type=Application
Terminal=false
Categories=Development;TextEditor;
Keywords=Text;Editor;org-protocol;
Hidden=true
