file://{{ .chezmoi.homeDir }}/Nextcloud/rp/dnd5e/campaigns/eat_flay_prowl RP
file://{{ .chezmoi.homeDir }}/Downloads
file://{{ .chezmoi.homeDir }}/src
file://{{ .chezmoi.homeDir }}/gdrive
file://{{ .chezmoi.homeDir }}/Nextcloud
davs://cloud.tetov.se/remote.php/dav/files/tetov Nextcloud dav
file://{{ .chezmoi.homeDir }}/Dropbox
smb://an6802jo@uw.lu.se/lu/ lu on uw
smb://an6802jo@uw.lu.se/group/ group on uw
smb://an6802jo@uw.lu.se/research/ research on uw
smb://an6802jo@uwfs06.uw.lu.se/abm/ abm on uwfs06
smb://an6802jo@uwfs06.uw.lu.se/abm/ARK/bioDigital_matter biodigital_matter on ufws06
file:///mnt/c/Users/tetov win-home
