[Unit]
Description=Pulls org files
AssertPathExists=%h/.ssh/org_repo_rsa

[Service]
Type=oneshot
Environment=GIT_SSH_COMMAND="ssh -i %h/.ssh/org_repo_rsa"
WorkingDirectory=%h/src/org
ExecStart=%h/bin/git-sync sync
