[Unit]
Description=Uses git to autosync %i
AssertPathExists=%h/.ssh/%i_rsa

[Service]
Type=oneshot
WorkingDirectory=%h/%I
ExecStart=%h/bin/git-sync sync
