[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=mbsync --config %h/.config/mbsyncrc --all --verbose
# Run mu index, if that doesn't work (since mu4e has locked the database) run mu4e-update-index
ExecStartPost=/usr/bin/mu index || /usr/bin/emacsclient -e '(mu4e-update-index)'
