[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync --config %h/.config/mbsync  --verbose --all
ExecStartPost=/usr/bin/emacsclient -e '(mu4e-update-index)'
