[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync --config %h/.config/mbsyncrc  --verbose --all
ExecStartPost=/usr/bin/mu index
