[Unit]
Description=Run git pull on org dir periodically

[Timer]
OnStartupSec=5 m
OnUnitInactiveSec=30 m
Persistent=true

[Install]
WantedBy=timers.target
