[Unit]
Description=Keyboard settings set using setxkbmap
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/setxkbmap se us -option caps:escape

[Install]
WantedBy=default.target
