[Unit]
Description=Timer to synx mailboxes in group %i

[Timer]
OnBootSec=2m
OnUnitActiveSec=5m
Unit=sync_emails.service

[Install]
WantedBy=timers.target
