[Unit]
Description=Timer to synx mailboxes in group %i

[Timer]
OnBootSec=3m
OnUnitInactiveSec=5m
OnCalendar=*-*-* *:20/3:00
Persistent=true

[Install]
WantedBy=timers.target
