eval `ssh-agent -s`
ssh-add $HOME/.ssh/id_rsa

# Aliases

alias ls='ls -F --color=auto'
alias grep='grep -i --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn}'
alias ggrep='grep'

alias rthot="watch -n30 'rtcontrol -rs up,down,name xfer=+0 2>&1'"
alias rtmsg="rtcontrol -s alias,message,name 'message=?*' 'message=!*Tried?all?trackers*'"
alias rtmsgstats="rtcontrol -q -s alias,message -o alias,message 'message=?*' 'message=!*Tried?all?trackers*' | uniq -c"
alias rt2days="rtcontrol --column-headers -scompleted -ocompletion completed=-2d"
alias rtstats="rtcontrol -q -o alias -s alias \\* | uniq -c"
alias rti="rtcontrol is_complete=no"

alias lsrtr='ls -1rt $server_media_dir | tail -15'

alias nohard='find $server_plex_dir -type f ! \( -name "*.jpg" -o -name "*.png" -o -name "*.nfo" -o -name "*.srt" -o -name "amc.excludes" -o -name "*.sub" \) -links 1 -exec du -bh {} \; | sort -h'

alias trippy='sudo tripwire -m c -I'
alias trippyaf='sudo apt-get update && sudo apt-get upgrade -y && sudo tripwire -m c -I'

alias rttrump='rtcontrol -s alias,message,name message="*nregistered*"'
