(setq fastmail-main-calendar-url {{ (onepasswordItemFields "fpbrakjsxo5ry3ubnhayv7xzka").main_calendar_ics.value }}
      fastmail-user {{ (onepasswordDetailsFields "fpbrakjsxo5ry3ubnhayv7xzka").username.value }}
      fastmail-caldav-url-full {{ (onepasswordItemFields "fpbrakjsxo5ry3ubnhayv7xzka").caldav_url_full.value }}
      fastmail-caldav-org-cal-id {{ (onepasswordItemFields "fpbrakjsxo5ry3ubnhayv7xzka").caldav_org_cal_id.value }})

;; Local Variables:
;; mode: emacs-lisp
;; End:
